@import 'variables';
@import 'copied';

body {
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 1920px) {
  .fa-bars {
    color: white;
  }
}

header {
  height: 75px;
  background-color: black;
  transition: top 0.3s;

  > a {
    position: relative;
    color: #000;
  }

  img {
    padding-left: 1.5rem;
  }
}

.cardRowOpen {
  height: 600px;
  -webkit-transition: all 0.5s ease-in-out;
}

.nav2 {
  width: 100vw;
  background-color: #F6F6F6;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 1px $greyShadow;
  @media (min-width: 768px) {
    float: none;
  }

  li {
    padding-left: 3rem;
    @media (max-width: 768px) {
      padding-left: 0;
    }

    a {
      color: #898989;
      font-size: 1.5rem;

      &:hover {
        background-color: inherit;
      }
    }
  }
  // end li
}
// end nav2
/* Bubble Bottom */
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  left: calc(50% - 10px);
  bottom: -2.2rem;
  border-width: 10px 10px 0 10px;
  border-color: #F6F6F6 transparent transparent transparent;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.lightBlue {
  color: $lightBlue;
}

.breadcrumb {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media(min-width: 768px) {
    margin-top: 4rem;
  }

  >li+li:nth-child(1) {
    font-size: 5rem;

  }

  >li+li:before {
    color: $lightBlue !important;
    // font-size: 2rem !important;
  }

  a {
    font-size: 1.6rem;
    &:nth-child(1) {
      // font-size: 1.8rem !important;
    }
    &:hover {
      text-decoration: none;
    }
  } // end a
} // end breadcrumb

.largeBr {
  font-size: 1.8rem !important;
  // padding-top: -2rem;
}

.attendee {
  color: $blue;
}

.untilDate {
  display: inline;
}

.soldOut {
  color: white;
  padding: 0.2rem;
  background-color: #ADD8E6;
}

.text {
  text-align: center;
  padding-left: 30rem;
  padding-right: 30rem;
  margin-bottom: 5rem;
}

.date {
  color: $bg;
}

.until {
  color: black;
}

// .lightBlue {
//   color: $lightBlue;
// }

// .largeBr {
//   font-size: 1.8rem !important;
//   margin-top: -2rem !important;
// }

.card {
  box-shadow: 2px 2px 2px $greyShadow;
  background-color: $cardBg;
  text-align: center;
  padding-top: 0.8rem;
  position: relative;

  @media(min-width: 992px) {
    height: 24rem;
  }
  h1 {
    margin-top: 2rem;
    font-size: 5.5rem;
  }

  input {
    width: 93%;
    margin-bottom: 10px;
  }

  p:nth-child(1) {}

  a {
    width: 100%;
    display: block;
    background-color: $blue;
    color: white;
    text-decoration: none;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // margin-top: 2rem;
    bottom: 0;
    left: 0;
  }
}

.fa-clock-o {
  color: black;
}

.popCard {
  height: 28rem;
  margin-top: -2rem;
  box-shadow: 2px 2px 1px $greyShadow;
  background-color: $cardBg;
  text-align: center;
  padding-top: 0.8rem;
  position: relative;

  h1 {
    margin-top: 2rem;
    font-size: 5.5rem;
  }

  a {
    width: 100%;
    display: block;
    background-color: $bg;
    color: white;
    text-decoration: none;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    left: 0;
  }
}

.show {
  display: flex;
  margin: 6rem auto 10rem;
  color: $blue;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.show:active,
.show:focus,
.show:hover {
  background-color: #2098D1;
  color: white;
}

.partners {
  color: #898989;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}

.workday {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.red {
  color: $bg;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.title {
  color: $blue;
}

h1 {
  color: $blue;
}

.lastsUntil {
  color: $blue;
  font-size: 1.5rem;
  // margin-bottom: 2rem;
}

.well {
  background-color: $cardBg;
  border: none;
  box-shadow: 2px 2px 2px $greyShadow;
  position: relative;
}

.col-md-3 {
  padding: 0.7rem;
}
