@import 'variables';
@import 'copied';

body {
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 1920px) {
  .fa-bars {
    color: white;
    font-size: 3.8rem !important;
  }
}

.fa-user, .fa-users, .fa-crosshairs, .fa-lightbulb-o {
  @media(max-width: $xs) {
    display: block;
    text-align: center;
    margin-bottom: -1rem;
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
}

header {
  height: 75px;
  background-color: black;
  transition: top 0.3s;

  > a {
    position: relative;
    color: #000;
  }

  img {
    padding-left: 1.5rem;
  }
}

.cardRowOpen {
  height: 640px;
  @media(max-width: 1200px) and (min-width: 992px) {
    height: 750px !important;
  }
}

.nav2 {
  width: 100%;
  background-color: $cardBg;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 1px $greyShadow;

  @media(max-width: $xs) {
    padding: .5rem;
  }

  @media (min-width: $xs) {
    float: none;
  }



  li {
    padding-left: 10rem;
    @media(min-width: $xs) and (max-width: 913px) {
      padding-left: 6rem !important;
    }
    @media (max-width: $xs) {
      padding-left: 0;
    }

    a {
      color: $grey;
      font-size: 1.5rem;
      &:nth-child(1) {
        @media(max-width: $xs) {
          text-align: center;
        }
      }

      &:hover {
        background-color: inherit;
        color: black;
      }
    }

  } // end li
} // end nav2

/* Bubble Bottom */
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  left: calc(50% - 10px);
  bottom: -2.2rem;
  border-width: 10px 10px 0 10px;
  border-color: $cardBg transparent transparent transparent;
  @media(max-width: $xs) {
    padding: .4rem;
  }
}
/* END Bubble Bottom */

.container {
  padding-left: 0;
  padding-right: 0;
}

.lightBlue {
  color: $lightBlue;
}

.breadcrumb {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;

  @media(min-width: $xs) {
    margin-top: 4rem;
  }

  @media(max-width: $xs) {
    display: block !important;
    text-align: center;
    margin-bottom: 0px !important;
    li {
      margin-bottom: .1rem;
      &:nth-child(1) {
        margin-top: 1rem;
        margin-bottom: .3rem;
      }
    }
  }

  @media(max-width: $md) and (min-width: $xs) {
    margin-bottom: 6rem;
  }

  a {
    font-size: 1.5rem;

    &:hover {
      text-decoration: none;
    }
  } // end a
} // end breadcrumb

.largeDash {
  font-size: 2.5rem;
  margin-top: -.85rem;
  font-weight: bold;
  padding-left: .75rem;
  padding-right: .75rem;
  color: $blue;
}

.smallDash {
  padding-left: .5rem;
  padding-right: .5rem;
  color: $lightBlue;
}

.saver {
  display: inline;
  font-size: 1.8rem !important;
  font-weight: bold;
}

.largeBr {
  font-size: 1.8rem !important;
  margin-top: -.4rem;
}

.attendee {
  color: $blue !important;
  font-weight: bold !important;
}

.soldOut {
  color: white;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  background-color: #ADD8E6;
}

.text {
  text-align: center;
  padding-left: 30rem;
  padding-right: 30rem;
  margin-bottom: 5rem;
}

.stack {
  display: inline;
  @media(min-width: $xs) {
    float: right;
    margin-top: -13px;
    margin-left: 5px;
  }
}

.date {
  font-size: 1.3rem;
  color: $bg;
  display: inline-block;
  @media(max-width: $xs) {
    font-size: 1.9rem;
    &:before {
      content: ' ';
    }
  }
}

.until {
  font-size: 1.3rem;
  color: black;
  margin: 0;
  display: inline-block;
  @media(max-width: $xs) {
    font-size: 1.9rem;
    &::after {
      content: " ";
      white-space: pre;
    }
  }
}

.largeBr {
  display: inline;
}

.card {
  box-shadow: 2px 2px 2px $greyShadow;
  background-color: $cardBg;
  text-align: center;
  padding-top: 0.8rem;
  position: relative;
  min-height: 24rem;

  @media(max-width: $xs) {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @media(min-width: $md) {
    min-height: 25rem;
  }

  p {
    margin-bottom: .5rem !important;
  }

  h1 {
    margin-top: 2rem;
    font-size: 5.5rem;
  }

  input {
    width: 88%;
    margin-bottom: 10px;
    &::-webkit-input-placeholder {
       font-style: italic;
    }
    &:-moz-placeholder {
       font-style: italic;
    }
    &::-moz-placeholder {
       font-style: italic;
    }
    &:-ms-input-placeholder {
       font-style: italic;
    }
  }

  .grey {
    color: $grey;
  }

  a {
    width: 100%;
    display: block;
    background-color: $blue;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    left: 0;
  }
}

.fa-clock-o {
  color: black;
  font-size: 2.3rem !important;
}

.popCard {
  min-height: 29.5rem;
  margin-top: -2rem;
  box-shadow: 2px 2px 1px $greyShadow;
  background-color: $cardBg;
  text-align: center;
  padding-top: 0.8rem;
  position: relative;

  @media(max-width: $md) {
    min-height: 26rem !important;
  }

  @media(max-width: $xs) {
    margin-top: 0 !important;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .well {
    padding-bottom: 11rem !important;
  }

  h1 {
    margin-top: 2rem;
    font-size: 5.5rem;
  }

  a {
    width: 100%;
    display: block;
    background-color: $bg;
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    left: 0;
    // margin-top: 2rem;
  }
}

.show {
  display: flex;
  margin: 6rem auto 10rem;
  @media(max-width: $xs) {
    margin: 2.5rem auto 8rem;
  }
  color: $blue;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: $blue;
  padding: 1rem 4.5rem;
  font-size: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.show:active,
.show:focus,
.show:hover {
  background-color: #2098D1;
  color: white;
}

.partners {
  color: $grey;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}

.workday {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.workImg {
  height:5rem;
  @media(max-width: $xs) {
    height: 4.6rem;
  }
}

.red {
  color: $bg;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.title {
  color: $blue;
}

h1 {
  color: $blue;
}

.lastsUntil {
  color: $blue;
  font-size: 1.5rem;
}

.well {
  background-color: $cardBg;
  border: none;
  box-shadow: 2px 2px 2px $greyShadow;
  position: relative;
  padding-bottom: 6rem;
}

.col-md-3 {
  padding: 0.7rem;
}
